/* You can add global styles to this file, and also import other style files */

// regular style toast 
@import "toastr.css";


// FONTS
@import url('https://fonts.googleapis.com/css?family=Gayathri|Parisienne|Poppins&display=swap');
// Font classes for use throughout script
.font-main{ font-family: 'Gayathri', sans-serif; }
.font-alt{ font-family: 'Poppins', sans-serif; }
.font-cursive{ font-family: 'Parisienne', cursive; }

// TAILWIND
@tailwind base;

@tailwind components;

@tailwind utilities;

.text-shadow {
text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
text-shadow: none;
}
